<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/head.ejs') %>
</head>
<body>
  <header>
  </header>
  <main>
    <%- include('./details.ejs')%>
    <a href="/">Home</a>
 </main> 
 <footer>
 </footer>
</body>
</html>

<!-- BOOKS/SHOW -->