<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head.ejs') %>
  </head>
  <body>
    <header>
<p id="headerp">Best Books!</p>
    </header>

      <div id="searchTitle">
      <p id="searchTitle--p">Search by Title or Author</p>
      </div>
      <form id="searchOptions" action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button type="submit">Search the Google Books API</button>
      </form>
    <footer>
      
    </footer>
  </body>
</html>
