<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head.ejs') %>
  </head>
  <body>
    <header>
      Best Books!
    </header>
       <div id="subhead"> Search Results:</div>
       <div id="outerContainer">
      <form id="searchOptions" action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button id="button--details" type="submit">Search the Google Books API</button>
      </form>
    </div>
    <footer>
      
    </footer>
  </body>
</html>
