<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
        <% searchResults.forEach( book => { %>
            <h3><%= book.title %></h3>
            <h3><%= book.author %></h3>
            <img src="<%= book.finalImage%>" alt="<%= book.title %>">
        <% }) %>
    </main>
  </body>
</html>