<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layouts/head.ejs') %>
  </head>
  <body>
    <header>
    </header>
    <main>
      <h1>Mama I have killed a man</h1>
    </main>
    <footer>
    </footer>
  </body>
</html>