<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css">
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
    <link href="/styles/icons.css" rel="stylesheet" type="text/css">
    <link href="/styles/layout.css" rel="stylesheet" type="text/css">
    <link href="/styles/modules.css" rel="stylesheet" type="text/css">
    <title>Book Collection</title>
  </head>
  <body>
    <main>
      <h1>Mama I have killed a man</h1>
    </main>
  </body>
</html>