/* BASE: 
  // Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes. 
  // It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
  //  // heading sizes 
  //  // default link styles
  //  // default font styles
  //  // body backgrounds

 */


*{
  background-color: #283845;
  box-sizing: border-box;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color: #ede3ce;
  display: grid;
  grid-template-columns: 41px 40px 81px 81px 81px 81px 40px 41px;
  grid-template-rows: 75px 50px 50px 70px 30px 70px 30px 70px 30px 70px 30px 70px 30px 45px 30px 30px 30px 100px 30px 70px 75px;
  height: fit-content;
  margin: auto;
  width: 486px;
}

footer{
    background-color: #202C39;
    grid-row-start:21;
    grid-column: 1 / span 8;
}

header{
  background-color: #202C39;
  grid-row-start:1;
  grid-column: 1 / span 8;
  padding: 20px;
  text-align: left;
}

#subhead{
  background-color: #f2d492;
  grid-row-start:2;
  grid-column: 1 / span 8;
  text-align: center;
  line-height: 50px;
}
#headerp{
  background-color: #202C39;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
/* main{
} */

#searchOptions{
  grid-row-start:3;
  grid-column: 2 / span 4;
  background-color: #ede3ce;
}

/* will unify after resolving font sizes */
#searchTitle{
  background-color: #F2D492;
  grid-row-start: 2;
  grid-column: 1 / span 6;
  text-align: center;
}

#searchTitle--p{
  background-color: #F2D492;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}
 /* index.ejs  */
#outerContainer{
  background-color: #ede3ce;
  grid-column: 2 / span 6;
  grid-row: 4 / span 16;
  z-index: 1;
  overflow-y: scroll;
  /* border: 1px solid blue; */
}

/* WIP */
a{
  margin-left: 10px;
  margin-top:10px;
}

p, button, form{
  background-color: #ede3ce;
  color: black;
  margin-top:10px;
  grid-column: 4 / span 2;
}

#button--details{
  background-color: #F29559;
  color:white;
  padding:5px 20px;
  margin:20px;
  border:1px solid #ec8139;
}

.extraInfo{
  color:white;
}

.extraDescription{
  grid-column: 3;
}

.img--searchResults{
  background-color: #ede3ce;
  text-align: center;
}

.img--searched{
  background-color: #ede3ce;
  grid-column: 4 / span 6;
}
